<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes" />

        <title><%= config.pageTitle %></title>

        <meta name="title" content="<%= config.pageTitle %>" />
        <meta name="description" content="Self-hosted image, video & code sharing" />

        <meta property="og:type" content="website" />
        <meta property="og:url" content="<%= config.publicUrl %>" />
        <meta property="og:site_name" content="<%= config.pageTitle %>" />
        <meta property="og:title" content="<%= config.pageTitle %>" />
        <meta property="og:description" content="Self-hosted image, video & code sharing" />
        <meta property="og:image" content="<%= config.publicUrl %>/favicon.png">
        <meta property="og:image:secure_url" content="<%= config.publicUrl %>/favicon.png">
        <meta property="og:image:type" content="image/png" />

        <meta property="twitter:card" content="summary" />
        <meta property="twitter:url" content="<%= config.publicUrl %>" />
        <meta property="twitter:title" content="<%= config.pageTitle %>" />
        <meta property="twitter:description" content="Self-hosted image, video & code sharing" />
        <meta property="twitter:image" content="<%= config.publicUrl %>/favicon.png" />

        <% if (config.facebookAppId !== '') { %>
            <meta property="fb:app_id" content="<%= config.facebookAppId %>" />
        <% } %>

        <link rel="icon" type="image/png" href="<%= config.publicUrl %>/favicon.png" />
        <link rel="icon" type="image/x-icon" href="<%= config.publicUrl %>/favicon.ico" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/victormono@latest/dist/index.min.css">
        <link rel="stylesheet" href="<%= config.publicUrl %>/style.css" />
    </head>
    <body>
        <div class="content">
            <a href="<%= config.publicUrl %>">
                <img class="logo" src="<%= config.publicUrl %>/favicon.png">
            </a>
            <h1><%= config.pageTitle %></h1>
            <p>
                Self-hosted 
                <a href="<%= config.publicUrl %>/iexample">Image</a>, 
                <a href="<%= config.publicUrl %>/vexample">Video</a> & 
                <a href="<%= config.publicUrl %>/texample">Code</a> 
                sharing
            </p>
            <p>
                <ul>
                    <li>Self-hosted & Open Source</li>
                    <li>Windows and Linux clients</li>
                    <li><a href="/upload">Web upload</a></li>
                    <li>Link preview for Images & Videos</li>
                    <li>No Database</li>
                </ul>
            </p>

            <h2>Download</h2>
            <h3>Client</h3>
            <a href="https://dl.screen.sbs/windows/setup/latest.exe" class="highlight">Windows.exe</a> 
            <a href="https://dl.screen.sbs/linux/deb/latest.deb" class="highlight">Linux.deb</a> 
            <a href="https://dl.screen.sbs/linux/rpm/latest.rpm" class="highlight">Linux.rpm</a> 
            <a href="https://dl.screen.sbs/windows/portable/latest.zip">Windows.zip</a> 
            <a href="https://dl.screen.sbs/linux/sh/latest.sh">Linux.sh</a> 

            <h3>Server</h3>
            git clone https://github.com/screen-sbs/server.git

            <h3>Source</h3>
            <a href="https://github.com/screen-sbs/server">Server</a> 
            <a href="https://github.com/screen-sbs/client-windows">Client-Windows</a> 
            <a href="https://github.com/screen-sbs/client-linux">Client-Linux</a>
        </div>
    </body>
</html>