<!DOCTYPE html>
<html>
    <head>
        <meta name="robots" content="noindex" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes" />

        <title><%= config.pageTitle %></title>

        <meta name="title" content="<%= config.pageTitle %>" />
        <meta name="description" content="Self-hosted image, video & code sharing" />

        <meta property="og:type" content="website" />
        <meta property="og:url" content="<%= config.publicUrl %>/upload" />
        <meta property="og:site_name" content="<%= config.pageTitle %>" />
        <meta property="og:title" content="<%= config.pageTitle %>" />
        <meta property="og:description" content="Self-hosted image, video & code sharing" />
        <meta property="og:image" content="<%= config.publicUrl %>/favicon.png">
        <meta property="og:image:secure_url" content="<%= config.publicUrl %>/favicon.png">
        <meta property="og:image:type" content="image/png" />

        <meta property="twitter:card" content="summary" />
        <meta property="twitter:url" content="<%= config.publicUrl %>/upload" />
        <meta property="twitter:title" content="<%= config.pageTitle %>" />
        <meta property="twitter:description" content="Self-hosted image, video & code sharing" />
        <meta property="twitter:image" content="<%= config.publicUrl %>/favicon.png" />

        <% if (config.facebookAppId !== '') { %>
            <meta property="fb:app_id" content="<%= config.facebookAppId %>" />
        <% } %>

        <link rel="icon" type="image/png" href="<%= config.publicUrl %>/favicon.png" />
        <link rel="icon" type="image/x-icon" href="<%= config.publicUrl %>/favicon.ico" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/victormono@latest/dist/index.min.css">
        <link rel="stylesheet" href="<%= config.publicUrl %>/style.css" />
    </head>
    <body>
        <div class="content">
            <a href="<%= config.publicUrl %>">
                <img class="logo" src="<%= config.publicUrl %>/favicon.png">
            </a>
            <h1><%= config.pageTitle %></h1>

            <h2>Upload</h2>

            <% if (uploadError !== 'none') { %>
                <span class="banner"><span class="title">Upload Error</span></br><%= uploadError %></span>
            <%}%>

            <form action="/upload?redirect=true" method="post" enctype="multipart/form-data">
                <label for="file">File</label>
                <input type="file" id="file" name="file" accept=".png,.mp4,.txt" required>
                <label for="token">Token</label>
                <input type="password" id="token" name="token" required>
                <input type="submit" value="Submit">
            </form> 
        </div>
    </body>
</html>