<!DOCTYPE html>
<html>
    <head>
        <meta name="robots" content="noindex" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes" />

        <title><%= info.title %></title>

        <meta name="title" content="<%= info.title %>" />
        <meta name="description" content=" " />

        <meta property="og:type" content="article" />
        <meta property="og:url" content="<%= info.pageUrl %>" />
        <meta property="og:site_name" content="<%= config.pageTitle %>" />
        <meta property="og:title" content="<%= info.title %>" />
        <meta property="og:description" content=" " />
        <meta property="og:image" content="<%= info.thumbnail %>" />
        <meta property="og:image:url" content="<%= info.thumbnail %>" />
        <% if (config.publicUrl.startsWith('https')) { %>
            <meta property="og:image:secure_url" content="<%= info.thumbnail %>" />
        <% } %>
        <meta property="og:image:type" content="image/png" />

        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="<%= info.pageUrl %>" />
        <meta property="twitter:title" content="<%= info.title %>" />
        <meta property="twitter:description" content=" " />
        <meta property="twitter:image" content="<%= info.thumbnail %>" />

        <% if (config.facebookAppId !== '') { %>
            <meta property="fb:app_id" content="<%= config.facebookAppId %>" />
        <% } %>

        <link rel="icon" type="image/png" href="<%= config.publicUrl %>/favicon.png" />
        <link rel="icon" type="image/x-icon" href="<%= config.publicUrl %>/favicon.ico" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/victormono@latest/dist/index.min.css">
        <link rel="stylesheet" href="<%= config.publicUrl %>/style.css" />
    </head>
    <body>
        <div class="payload">
            <a class="raw-button" href="<%= info.payloadUrl %>">view raw</a>
            <video controls autoplay loop muted>
                <source src="<%= info.payloadUrl %>" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </body>
</html>