<!DOCTYPE html>
<html>
    <head>
        <meta name="robots" content="noindex" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes" />

        <title><%= config.pageTitle %></title>

        <meta name="title" content="<%= config.pageTitle %> | 404" />
        <meta name="description" content="404 | Requested file could not be found" />

        <meta property="og:type" content="website" />
        <meta property="og:url" content="<%= config.publicUrl %>" />
        <meta property="og:site_name" content="<%= config.pageTitle %>" />
        <meta property="og:title" content="<%= config.pageTitle %> | 404" />
        <meta property="og:description" content="404 | Requested file could not be found" />
        <meta property="og:image" content="<%= config.publicUrl %>/favicon.png">
        <meta property="og:image:secure_url" content="<%= config.publicUrl %>/favicon.png">
        <meta property="og:image:type" content="image/png" />

        <meta property="twitter:card" content="summary" />
        <meta property="twitter:url" content="<%= config.publicUrl %>" />
        <meta property="twitter:title" content="<%= config.pageTitle %> | 404" />
        <meta property="twitter:description" content="404 | Requested file could not be found" />
        <meta property="twitter:image" content="<%= config.publicUrl %>/favicon.png" />

        <% if (config.facebookAppId !== '') { %>
            <meta property="fb:app_id" content="<%= config.facebookAppId %>" />
        <% } %>

        <link rel="icon" type="image/png" href="<%= config.publicUrl %>/favicon.png" />
        <link rel="icon" type="image/x-icon" href="<%= config.publicUrl %>/favicon.ico" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/victormono@latest/dist/index.min.css">
        <link rel="stylesheet" href="<%= config.publicUrl %>/style.css" />
    </head>
    <body>
        <div class="content">
            <a href="<%= config.publicUrl %>">
                <img class="logo" src="<%= config.publicUrl %>/favicon.png">
            </a>
            <h1>404</h1>
            <h2>Requested file could not be found</h2>
        </div>
    </body>
</html>